<!--template of vue component that holds select box , remove button and modal window-->
<template xmlns:bind="http://www.w3.org/1999/xhtml">
            <div id="displayworkflows">
                <h3>Workflows</h3>

        <select id="selected" @change="onChange">
            <option class="workflowOpt">...</option>
            <!--bind current item which is an object to value -->
            <option class="workflowOpt" v-for="item in items" v-if="item.doc._id !=='_design/auth'" v-bind:value="JSON.stringify(item.doc)"
            >{{item.doc._id}}</option>
            </select>
        <!--show error message when there is error after validateID of workflow object-->
        <div id="idInvalidError" v-if="showError">
            <span>{{workflow.errors[0]}}</span>
        </div>

        <!-- modal window defined by bootstrap. If btnRemove is true which means this workflow can be removed and click on remove
        button modal window will show up-->
        <div class="container" v-if="btnRemove">
            <!-- Remove Button to Open the Modal -->
            <button id="rm" type="button" class="nav-button" data-toggle="modal" data-target="#myModal">
                Remove Workflow
            </button>

            <!-- The Modal window has text 'Do you want to delete this workflow?' and two buttons 'Yes' and 'No'-->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button v-on:click="deleteCancel" type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Do you want to delete this workflow {{currentItem._id}}?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    v-on:click="deleteWorkflow">Yes</button>
                            <button  type="button" class="btn btn-danger" data-dismiss="modal"
                                     v-on:click="deleteCancel">No</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    module.exports= {

        data: function() {
            return {

                items: [],
                btnRemove: 0,
                showError: 0,
                currentItem: null,
                workflow: null,
                workflows: [],
                showCreateBtn: false

            }
        },
        methods: {
            //get all workflows from couchdb which has url URL and store them in this.items
            getData: function () {

                var docs = DB.allDocs({include_docs: true}).then((result) => {
                    this.items = result.rows;
                });


            },
            //when select an option in select box fire onChange function
            onChange: function(event) {
                CURRENT_STEP_POS = null;
                WorkflowHelper.disableStepButtons(true);
                if($("#selected option:selected").text() !== '...')
                {

                    if (event.target.value !== '...')
                    {
                        this.showCreateBtn = true;
                        $('#btnAddStep').prop('disabled', false);
                        $('#btnCopyWorkflow').prop('disabled', false);
                        $('#btnSaveWorkflow').prop('disabled', false);
                        $('#btnRenameWorkflow').prop('disabled', false);
                        $('#btnAddRelationship').prop('disabled', false);
                        this.currentItem = JSON.parse(event.target.value);


                        this.btnRemove = (this.currentItem.removable) && ($("#btnEditMode").text() === "Exit Edit Mode");

                        var pos = this.workflows.map(function (e) {
                            return e.id;
                        }).indexOf(this.currentItem._id);

                        if (pos < 0) {
                            this.workflow = new Workflow(this.currentItem._id, this.currentItem.removable);
                            this.workflows.push(this.workflow);
                        } else {
                            this.workflow = this.workflows[pos];

                        }

                        CURRENT_WORKFLOW = this.workflow;

                        this.workflow.validate();



                        if (this.workflow.errors.length > 0) {

                            this.showError = 1;
                        }
                        else
                        {
                            WorkflowHelper.getWorkflow(this.currentItem._id);

                            document.getElementById("btnAddStep").hidden = false;
                            // document.getElementById("btnSaveWorkflow").hidden = false;
                            document.getElementById("workflowID").innerText = CURRENT_WORKFLOW.id;
                        }
                    }
                }
                else
                {
                    CURRENT_WORKFLOW = new Workflow(null, null);
                    WorkflowHelper.renderJoint();
                    document.getElementById("workflowID").innerText = "Welcome";
                    WorkflowHelper.disableStepButtons(true);
                    this.btnRemove = 0;
                    $('#btnAddStep').prop('disabled', true);
                    $('#btnCopyWorkflow').prop('disabled', true);
                    $('#btnSaveWorkflow').prop('disabled', true);
                    $('#btnRenameWorkflow').prop('disabled', true);
                    $('#btnAddRelationship').prop('disabled', true);
                }
            },
            //when user click on remove buttom, it will delete this document in database and delete this option in select list as well
            deleteWorkflow:function() {
                var delDoc= this.workflow.id;

                DB.get(delDoc, function(err, doc) {
                    if (err) {
                    } else {
                        DB.remove(doc);
                    }
                });
                //this.getData();
                CURRENT_WORKFLOW = new Workflow(null,null);
                $("#selected option:selected").remove();
                this.btnRemove=0;
                this.showError=0;
                document.getElementById("workflowID").innerText = "Welcome";
                WorkflowHelper.renderJoint();
                $('#btnAddStep').prop('disabled', true);
                $('#btnCopyWorkflow').prop('disabled', true);
                $('#btnSaveWorkflow').prop('disabled', true);
                $('#btnRenameWorkflow').prop('disabled', true);
                $('#btnAddRelationship').prop('disabled', true);

            },
            //if user cancel delete, the modal window disappear and set option to first one '...'
            deleteCancel:function(){
                this.btnRemove=1;
                this.showError=0;
            }
        },
        mounted() {
            this.getData();
            GRAPH = new joint.dia.Graph; // the GRAPH contains a reference to all components of the diagram
            //hide the buttons on application opening
            $("#editMode").hide();
            $("#rm").hide();
        }
    }
</script>

